body{
    background-color: darkgray;
}
#navBa{
    width: 100%;
}
.img-fluid{


}
#banner{
    width: fit-content;
    height: 100px;
width: 100%
}
#logo{
    height: 100px;
    width: 5%;
}
.navbar-brand{
    height: 100%;
}