body{
    background-color: #eaeaea;
}
#navBa{
    width: 100%;
}
.img-fluid{


}
#banner{
    width: fit-content;
    height: 100px;
width: 100%
}
#logo{
    height: 100px;
    width: 5%;
}
.navbar-brand{
    height: 100%;
}
.twitter-timeline{
    left: 5rem;
}
#summary{
    width: 50 rem;
    height: 43.75rem;
}
#register{
    width: 50 rem;
    height: 54rem;
}
#demo{
    width: 6rem;
    height: 7rem;
}
#smlColor{
    height: 14.2%;
    border: white;
    border-style: solid;
    border-width: 0.0625rem;
}
.dropdown .dropdown-menu{ max-height:25rem; overflow:auto; }
.my-custom-scrollbar {
    position: relative;
    height: 31.25rem;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }